{% extends 'partials/base.html' %}
{% load crispy_forms_filters %}
{% block title %}Make Reservation{% endblock %}

{% block content %}

    <br><br><br>
    {% include 'partials/topnav.html' %}
    <br><br><br>
    <div class="container">
<h1>Add an Entry</h1>
        {% for msg in messages %}
        <div class="alert alert-success" role="alert">
  {{ msg }}
            </div>

    {% endfor %}
<form id="myForm" method="POST" action="{% url 'inventory_app-wrs_form' %}">
    {% csrf_token %}
    {{ form|crispy}}
    <br><br>
    <input type="submit" value="Submit">
</form>
    </div>
    {% block json %}
        <script>
        $(document).ready(function() {
    $('#id_Router_Ports').select2();
});
        </script>

        <script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
        if (!confirm("Are you sure you want to submit the form?")) {
            event.preventDefault(); // Cancel form submission
        }
    });
</script>

        {% endblock %}
{% endblock %}