body{
    /*background: rgb(240,240,240);*/
    background: linear-gradient(to bottom, #f0f5ff, #cfe3ff);
}
.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.page-item.active .page-link {
    background-color: #6c757d;
    border: 1px solid #6c757d;
}

.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

.dataTables_paginate{
    margin-top: 10px !important;
    float: right;
}

.dataTables_length{
    margin-bottom: 10px !important;
}

.dataTables_filter{
    float: right;
}


div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

div.dataTables_wrapper div.dataTables_length select {
    width: 100px;
    display: inline-block;
}

table.dataTable tbody th, table.dataTable tbody td {
  border: 2px solid black;
}

table.dataTable thead th {
  border: 2px solid black;
}

#id_Router_Port_id{
    width: 100%;
}

.button{width:100%}

.my-table-class {
  border-collapse: collapse;
  width: 100%;
}

.my-table-class th, .my-table-class td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

.my-table-class th {
  background-color: lightgrey;
}

.my-table-class tr:nth-child(even) {
  background-color: #f9f9f9;
}

.my-table-class tr:hover {
  background-color: #e6e6e6;
}

.my-table-class th {
  border: 2px solid black;
}




